{% load i18n %}
{% get_available_languages as languages %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}">
<head>
  <meta charset="utf-8">
  <meta name="author" content="Michal Čihař" />
  <meta name="dcterms.rightsHolder" content="Michal Čihař">
  <meta name="dcterms.dateCopyrighted" content="2012 - 2015">
  <meta name="robots" content="index, follow" />
  <meta name="description" content="{% block description %}{% endblock %}" />
  <meta name="keywords" content="weblate,git,gettext,resources,json,po,mo,qts,CAT,web,{% trans "translate" context "Keyword" %}" />
  <link rel="stylesheet" type="text/css" href="/media/style.css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/media/colorbox.css">
  <link rel="author" href="mailto:michal@cihar.com" />
  <link rel="shortcut icon" href="/media/favicon.ico" type="image/x-icon" />
  <link rel="icon" href="/media/favicon.ico" type="image/x-icon" />
  <link rel="image_src" type="image/png" href="/media/weblate-128.png" />
  <link rel="apple-touch-icon" href="/media/weblate-128.png" />
  <meta property="og:image" content="http://weblate.org/media/background.png" />
  <title>{% block title %}Weblate{% endblock %}</title>
  <link rel="alternate" type="application/rss+xml" href="http://blog.cihar.com/archives/weblate/index-atom.xml" title="Weblate blog (Atom 1.0)"/>
  <link rel="alternate" type="application/rss+xml" href="http://blog.cihar.com/archives/weblate/index-rss.xml" title="Weblate blog (RSS 2.0)"/>
  <link rel="alternate" type="application/rss+xml" href="http://blog.cihar.com/archives/weblate/index.xml" title="Weblate blog (RSS 1.0)"/>
  {% language 'en' %}
  <link rel="canonical" href="{% if url_name %}{% url url_name %}{% else %}{% url 'home' %}{% endif %}" />
  {% endlanguage %}
  {% for lang_code, lang_name in languages %}
    {% if lang_code != LANGUAGE_CODE %}
      {% language lang_code %}
      <link rel="alternate" hreflang="{{ lang_code }}" href="{% if url_name %}{% url url_name %}{% else %}{% url 'home' %}{% endif %}" />
      {% endlanguage %}
    {% endif %}
  {% endfor %}
   <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
   <script src="/media/jquery.colorbox-min.js"></script>
   <script src="/media/code.js"></script>
   <meta name="google-site-verification" content="SSd77ql2j6xSOlvDHT2pO2r3ZMQQyMVTycyse-l9i6A" />
   <meta name="wot-verification" content="b166aac1728babda4ade" />
</head>
 <body {% if LANGUAGE_BIDI %}class="dir-rtl"{% endif %}>
<a class="logo" href="{% url 'home' %}"><img src="/media/weblate-128.png" width="128" height="128" alt="{% trans "Weblate logo" %}"/></a>
<nav>
<a href="{% url 'home' %}">{% trans "Home" %}</a>
<a href="http://blog.cihar.com/archives/weblate/">{% trans "Blog" %}</a>
<a href="{% url 'try' %}">{% trans "Try" %}</a>
<a href="{% url 'features'%}">{% trans "Features" %}</a>
<a href="http://docs.weblate.org/">{% trans "Docs" %}</a>
<a href="{% url 'download' %}">{% trans "Download" %}</a>
<a href="{% url 'hosting' %}">{% trans "Hosting" %}</a>
<a href="{% url 'contribute' %}">{% trans "Develop" %}</a>
<a href="{% url 'donate' %}">{% trans "Donate" %}</a>
<a href="{% url 'support' %}">{% trans "Support" %}</a>
<a href="{% url 'tour' %}">{% trans "Tour" %}</a>
<a href="{% url 'thanks' %}">{% trans "Thanks" %}</a>
</nav>
<header>
<a class="language" href="#">
<span class="fa fa-globe"></span>
{% for lang in LANGUAGES %}{% if lang.0 == LANGUAGE_CODE %}{{ lang.1 }}{% endif %}{% endfor %}
</a>

<div class="languages">
<div class="choice">
{% for lang_code, lang_name in languages %}
{% language lang_code %}
<a href="{% if url_name %}{% url url_name %}{% else %}{% url 'home' %}{% endif %}">{{ lang_name }}</a>
{% endlanguage %}
{% endfor %}


</div>
<a href="{% url 'contribute' %}#translate">{% trans "Help with translations!" %}</a>
</div>

<h1>
{% block header %}
Weblate
{% endblock %}
</h1>
<p class="headline">
{% block headline %}
{% endblock %}
</p>
</header>
<div class="content">
{% block content %}
{% endblock %}
</div>
<div class="clearer"></div>
<footer>
<ul class="footer">
<li>Copyright &copy; 2012 - 2015 <a href="http://cihar.com/">Michal Čihař</a></li>
<li>{% url 'donate' as donate_url %}{% blocktrans %}Weblate is free software, but welcomes <a href="{{ donate_url }}">donations</a>.{% endblocktrans %}</li>
<li><a href="https://plus.google.com/+WeblateOrg" rel="publisher" style="display: none">{% trans "Visit us on Google+" %}</a></li>
</ul>
</footer>
<!-- Piwik Image Tracker -->
<noscript><img src="https://stats.cihar.com/piwik.php?idsite=12&amp;rec=1" style="border:0" alt="" /></noscript>
<!-- End Piwik -->
<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://stats.cihar.com/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 12]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
    g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="http://stats.cihar.com/piwik.php?idsite=12" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->

</body>
</html>
