{% load i18n %}
{% load url from future %}

<!DOCTYPE html>

<html>
<head>
<link rel="stylesheet" type="text/css" href="/media/style.css">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>{% block title %}Weblate{% endblock %}</title>
<head>
<body>
<img id="icon" src="/media/weblate-128.png" width="128" height="128" />
<nav>
<a href="{% url 'home' %}">Home</a>
<a href="/">Blog</a>
<a href="">Demo</a>
<a href="{% url 'features'%}">Features</a>
<a href="/">Docs</a>
<a href="/">Download</a>
<a href="/">Contribute</a>
<a href="/">Support</a>
<a href="/">Screenshots</a>
</ul>
</nav>
<header>
<h1>
{% block header %}
Weblate
{% endblock %}
</h1>
<p id="headline">
{% block headline %}
{% endblock %}
</p>
</header>
<div id="content">
{% block content %}
{% endblock %}
</div>
</body>
</html>

