{% load i18n %}
{% load url from future %}

<!DOCTYPE html>

<html>
<head>
<link rel="stylesheet" type="text/css" href="/media/style.css">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>{% block title %}Weblate{% endblock %}</title>
<head>
<body>
<img id="icon" src="/media/weblate-128.png" width="128" height="128" />
<nav>
<a href="{% url 'home' %}">Home</a>
<a href="http://blog.cihar.com/archives/weblate/">Blog</a>
<a href="{% url 'try' %}">Try</a>
<a href="{% url 'features'%}">Features</a>
<a href="http://docs.weblate.org/">Docs</a>
<a href="{% url 'download' %}">Download</a>
<a href="{% url 'hosting' %}">{% trans "Hosting" %}</a>
<a href="{% url 'contribute' %}">Contribute</a>
<a href="{% url 'support' %}">Support</a>
<a href="/">Tour</a>
</ul>
</nav>
<header>
<h1>
{% block header %}
Weblate
{% endblock %}
</h1>
<p id="headline">
{% block headline %}
{% endblock %}
</p>
</header>
<div id="content">
{% block content %}
{% endblock %}
</div>
<footer>
 <ul class="footer">
  <li>Copyright &copy; 2012 - 2013 <a href="http://cihar.com/">Michal Čihař</a></li>
  <li><a href="http://flattr.com/thing/571085/Weblate"><img src="http://api.flattr.com/button/flattr-badge-large.png" alt="Flattr this" title="Flattr this" /></a></li>
  <li><form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<div class="donate">
<input type="hidden" name="cmd" value="_s-xclick" />
<input type="hidden" name="hosted_button_id" value="Y4C8WM9U8R8MN" />
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" name="submit" alt="PayPal - The safer, easier way to pay online!" />
<img alt="" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1" />
</div>
</form></li>
 </ul>
</footer>
<!-- Piwik -->
<script type="text/javascript">
<!--
var pkBaseURL = (("https:" == document.location.protocol) ? "https://stats.cihar.com/" : "http://stats.cihar.com/");
document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
</script><script type="text/javascript">
try {
    var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 12);
    piwikTracker.trackPageView();
    piwikTracker.enableLinkTracking();
} catch( err ) {}
//-->
</script><noscript><p><img src="http://stats.cihar.com/piwik.php?idsite=12" alt="" /></p></noscript>
<!-- End Piwik Tracking Code -->
</body>
</html>

