{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Contribute to Weblate" %}{% endblock %}
{% block header %}{% trans "Contribute to Weblate" %}{% endblock %}
{% block description %}
{% block headline %}{% trans "Weblate is being developed by an open community." %}{% endblock %}
{% endblock %}
{% block content %}

<p>
{% blocktrans %}You can find more detailed information about this topic in <a href="http://docs.weblate.org/en/latest/contributing.html">Contributing chapter</a> of our documentation.{% endblocktrans %}
</p>

<h2>{% trans "Code" %}</h2>

<p>
{% blocktrans %}Weblate is being developed on <a href="https://github.com/nijel/weblate">Github</a>, you can fork it there or just:{% endblocktrans %}
</p>

<pre>
git clone git://github.com/nijel/weblate.git
</pre>

<p>
{% blocktrans %}This website is stored on <a href="https://github.com/nijel/weblate-web">Github</a> as well:{% endblocktrans %}
</p>

<pre>
git clone git://github.com/nijel/weblate-web.git
</pre>

<h2 id="translate">{% trans "Translate" %}</h2>

<p>
{% blocktrans %}You can translate Weblate using Weblate installation at <a href="https://hosted.weblate.org/engage/weblate/">hosted.weblate.org</a>.{% endblocktrans %}
</p>

<p>
<a href="http://hosted.weblate.org/engage/weblate/?utm_source=widget">
<img src="http://hosted.weblate.org/widgets/weblate-287x66-white.png" alt="{% trans "Translation status" %}" />
</a>
</p>

{% endblock %}
