{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Donate to Weblate" %}{% endblock %}
{% block header %}{% trans "Donate to Weblate" %}{% endblock %}
{% block description %}
{% block headline %}{% trans "Weblate is free, but welcomes donations." %}{% endblock %}
{% endblock %}
{% block extrajumbo %}
<p>
<a href="https://salt.bountysource.com/teams/weblate" class="btn btn-primary btn-lg">
<i class="fa fa-money"></i>
{% trans "Fund on Bountysource" %}
</a>
</p>
{% endblock %}
{% block content %}

<h2>{% trans "Regular donations" %}</h2>

<p>
{% blocktrans %}Regular donations allow sustainability of Weblate development and help to fund free hosting for free software. You don't have to spend big money, every penny counts.{% endblocktrans %}
</p>

<a href="https://salt.bountysource.com/teams/weblate" class="btn btn-primary">
<i class="fa fa-money"></i>
{% trans "Fund on Bountysource" %}
</a>

<p>
{% trans "You can send monthly donation using a credit card. You can also get rewards for higher donations, for example logo placement on our website." %}
</p>


<!--
<a href="https://gratipay.com/weblate/" class="btn btn-primary">
<i class="fa fa-gratipay"></i>
{% trans "Donate using Gratipay" %}
</a>

<p>
{% blocktrans %}Gratipay allows you to send a weekly amount using a credit card.{% endblocktrans %}
</p>
-->

<h2>{% trans "Fund features" %}</h2>

<a href="https://www.bountysource.com/teams/weblate/issues" class="btn btn-primary">
<i class="fa fa-money"></i>
{% trans "Fund on Bountysource" %}
</a>

<p>
{% trans "Bountysource allows you to fund individual features which are reported on our issue tracker." %}
</p>

<h2>{% trans "Donate" %}</h2>

<p>
{% blocktrans %}If you like Weblate you can support its further development by donating.{% endblocktrans %}
</p>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick" />
<input type="hidden" name="hosted_button_id" value="AXN88S8GX5MQ4" />
<button class="btn btn-primary" type="submit">
<i class="fa fa-paypal"></i>
{% trans "Donate using PayPal" %}
</button>
</form>

<p>
{% trans "PayPal allows you to send money from credit card, PayPal balance or a bank account." %}
</p>

<a href="https://www.coinbase.com/checkouts/e7c16485643a51c08cd66de46f13f0d8" class="btn btn-primary">
<i class="fa fa-bitcoin"></i>
{% trans "Donate using Coinbase" %}
</a>

<p>
{% trans "Coinbase allows you to send Bitcoins." %}
</p>

<p>
{% blocktrans with '12jGjoSxmiF89CgMwGmDpYHi7HEXAxGR39' as bitcoin_address %}You can also use <a href="http://www.bitcoin.org/">Bitcoin is a peer-to-peer network</a> and send me Bitcoins to <code>{{ bitcoin_address }}</code>.{% endblocktrans %}
</p>

{% endblock %}

