{% extends "base.html" %}
{% load i18n %}
{% load downloads %}
{% block title %}{% trans "Download Weblate" %}{% endblock %}
{% block header %}{% trans "Download Weblate" %}{% endblock %}
{% block description %}
{% block headline %}{% trans "Weblate comes with complete source code." %}{% endblock %}
{% endblock %}

{% block extrajumbo %}
<p>
<a class="btn btn-primary btn-lg" href="https://github.com/WeblateOrg/weblate/" role="button"><i class="fa fa-github"></i> {% trans "View sources" %}</a>
</p>
{% endblock %}
{% block content %}

<h2>{% trans "Code" %}</h2>

<p>
{% blocktrans %}Weblate is being developed on <a href="https://github.com/WeblateOrg/weblate">Github</a>, you can fork it there or just:{% endblocktrans %}
</p>

<pre>
# Weblate
git clone https://github.com/WeblateOrg/weblate.git

# wlc
git clone https://github.com/WeblateOrg/wlc.git

# Weblate website
git clone https://github.com/WeblateOrg/website.git
</pre>

<h2>{% trans "Download" %}</h2>

<p>
{% blocktrans %}You can download latest release here:{% endblocktrans %}
</p>

<ul>
{% for download in downloads %}
<li>{% downloadlink download %}</li>
{% endfor %}
</ul>

<p>
{% blocktrans %}For openSUSE/SLES users, there are binary packages available in the <a href="https://software.opensuse.org/package/weblate/">openSUSE Buildservice</a>.{% endblocktrans %}
</p>

<h2>{% trans "Weblate command line client" %}</h2>

<p>
{% blocktrans with 'https://pypi.python.org/pypi/wlc' as url %}You can control Weblate remotely using <a href="{{ url }}">wlc</a>, it can be installed by using Python PIP:{% endblocktrans %}
</p>

<pre>
pip3 install wlc
</pre>

<h2>{% trans "Cloud or virtualization images" %}</h2>

<p>{% trans "Weblate can be run in any cloud or virtualization environment. Following links will show you information about some of these:" %}</p>

<ul>
<li><a href="https://docs.weblate.org/en/latest/admin/deployments.html#docker">{% trans "Running Weblate in a Docker container" %}</a></li>
<li><a href="https://docs.weblate.org/en/latest/admin/deployments.html#openshift">{% trans "Running Weblate on OpenShift platform" %}</a></li>
<li><a href="https://susestudio.com/a/F8yMYg/weblate">{% trans "SUSE Studio appliances" %}</a></li>
<li><a href="https://bitnami.com/stack/weblate">{% trans "BitNami Weblate stack providing native installation for most platforms as well as support for many public cloud providers" %}</a></li>
</ul>

<a href="https://docs.weblate.org/en/latest/admin/deployments.html#docker"><img src="/media/docker.png" /></a>
<a href="https://docs.weblate.org/en/latest/admin/deployments.html#openshift"><img src="/media/openshift.png" /></a>
<a href="https://bitnami.com/stack/weblate/cloud/google"><img src="/media/gcp.png" /></a>
<a href="https://bitnami.com/stack/weblate/cloud/amazon"><img src="/media/aws.png" /></a>
<a href="https://bitnami.com/stack/weblate/cloud/azure"><img src="/media/azure.png" /></a>

{% endblock %}
