{% extends "base.html" %}
{% load url from future %}
{% load i18n %}
{% load downloads %}
{% block title %}{% trans "Download Weblate" %}{% endblock %}
{% block header %}{% trans "Download Weblate" %}{% endblock %}
{% block description %}
{% block headline %}{% trans "Weblate comes with complete source code." %}{% endblock %}
{% endblock %}
{% block content %}

<h2>{% trans "Code" %}</h2>

<p>
{% blocktrans %}Weblate is being developed on <a href="https://github.com/nijel/weblate">Github</a>, you can fork it there or just:{% endblocktrans %}
</p>

<pre>
git clone git://github.com/nijel/weblate.git
</pre>

<h2>{% trans "Download" %}</h2>

<p>
{% blocktrans %}You can download latest release here:{% endblocktrans %}
</p>

<ul>
{% for download in downloads %}
<li>{% downloadlink download %}</li>
{% endfor %}
</ul>

<p>
{% blocktrans %}For openSUSE/SLES users, there are binary packages available in the <a href="http://software.opensuse.org/package/weblate/">openSUSE Buildservice</a>.{% endblocktrans %}
</p>

<h2>{% trans "Cloud or emulator images" %}</h2>

<p>
{% blocktrans %}In case you want to run Weblate in your cloud or virtual server, you can download appliance based on openSUSE 12.2 at <a href="http://susestudio.com/a/F8yMYg/weblate">SUSE Studio Gallery</a>.{% endblocktrans %}
{% blocktrans %}Check <a href="http://docs.weblate.org/en/latest/install.html#appliance">our documentation</a> for more information about appliance setup.{% endblocktrans %}
</p>

{% endblock %}
