{% extends "base.html" %}
{% load url from future %}
{% load i18n %}
{% block title %}{% trans "Weblate features" %}{% endblock %}
{% block header %}{% trans "Weblate features" %}{% endblock %}
{% block headline %}{% trans "Weblate is a feature rich computer aided translation tool." %}{% endblock %}
{% block content %}

{% include "base-features.html" %}

<div class="feature">
<div class="picto">
<div class="icon">
<div class="lock"></div>
</div>
</div>
<h2>Access control</h2>
<p>Access rights can can be fine tuned depending on your environment.</p>
</div>

<div class="feature">
<div class="picto">
<div class="icon">
<div class="mail"></div>
</div>
</div>
<h2>Notifications</h2>
<p>Translators can be notified on new strings to translate or other events.</p>
</div>

<div class="feature">
<div class="picto">
<div class="icon">
<div class="cloud"></div>
</div>
</div>
<h2>Ready for cloud</h2>
<p>Weblate comes with appliance, which is ready to deploy in your cloud.</p>
</div>

<div class="feature">
<div class="picto">
<div class="icon">
<div class="cube"></div>
</div>
</div>
<h2>File formats</h2>
<p>Weblate supports all widely used file formats for localisation like Gettext or resource strings.</p>
</div>

<div class="feature">
<div class="picto">
<div class="icon">
<div class="link"></div>
</div>
</div>
<h2>Branches support</h2>
<p>Weblate can translate different versions of translation by pushin them to different branches automatically.</p>
</div>

<div class="feature">
<div class="picto">
<div class="icon">
<div class="heal"></div>
</div>
</div>
<h2>Translation context</h2>
<p>Translator can always see important context infromation like comments or corresponding source code.</p>
</div>

<div class="feature">
<div class="picto">
<div class="icon">
<div class="newspaper"></div>
</div>
</div>
<h2>Glossary</h2>
<p>Translators can define own glossary to stay consistent in frequently used terminology.</p>
</div>

<div class="feature">
<div class="picto">
<div class="icon">
<div class="comment"></div>
</div>
</div>
<h2>Acquiring feedback</h2>
<p>You can also use Weblate to acquire feedback on source strings and thus improve them.</p>
</div>

<div class="feature">
<div class="picto">
<div class="icon">
<div class="download"></div>
</div>
</div>
<h2>Export and import</h2>
<p>Translations can be downloaded for offline translation and merged back.</p>
</div>

{% endblock %}
