{% extends "base.html" %}
{% load url from future %}
{% load i18n %}
{% block title %}{% trans "Weblate features" %}{% endblock %}
{% block header %}{% trans "Weblate features" %}{% endblock %}
{% block description %}
{% block headline %}{% trans "Weblate is a feature rich computer aided translation tool." %}{% endblock %}
{% endblock %}
{% block content %}

{% include "base-features.html" %}

<div class="feature">
<div class="picto">
<div class="icon">
<div class="lock"></div>
</div>
</div>
<h2>{% trans "Access control" %}</h2>
<p>{% trans "Access rights can be fine tuned depending on your environment." %}</p>
</div>

<div class="feature">
<div class="picto">
<div class="icon">
<div class="mail"></div>
</div>
</div>
<h2>{% trans "Notifications" %}</h2>
<p>{% trans "Translators can be notified on new strings to translate or other events." %}</p>
</div>

<div class="feature">
<div class="picto">
<div class="icon">
<div class="cloud"></div>
</div>
</div>
<h2>{% trans "Ready for cloud" %}</h2>
<p>{% trans "Weblate comes with appliance, which is ready to deploy in your cloud." %}</p>
</div>

<div class="feature">
<div class="picto">
<div class="icon">
<div class="cube"></div>
</div>
</div>
<h2>{% trans "File formats" %}</h2>
<p>{% trans "Weblate supports all widely used file formats for localisation like Gettext or resource strings." %}</p>
</div>

<div class="feature">
<div class="picto">
<div class="icon">
<div class="link"></div>
</div>
</div>
<h2>{% trans "Branches support" %}</h2>
<p>{% trans "Weblate can translate different versions of translation by pushing them to different branches automatically." %}</p>
</div>

<div class="feature">
<div class="picto">
<div class="icon">
<div class="heal"></div>
</div>
</div>
<h2>{% trans "Translation context" %}</h2>
<p>{% trans "Translator can always see important context information like comments or corresponding source code." %}</p>
</div>

<div class="feature">
<div class="picto">
<div class="icon">
<div class="newspaper"></div>
</div>
</div>
<h2>{% trans "Glossary" %}</h2>
<p>{% trans "Translators can define own glossary to stay consistent in frequently used terminology." %}</p>
</div>

<div class="feature">
<div class="picto">
<div class="icon">
<div class="comment"></div>
</div>
</div>
<h2>{% trans "Acquiring feedback" %}</h2>
<p>{% trans "You can also use Weblate to acquire feedback on source strings and thus improve them." %}</p>
</div>

<div class="feature">
<div class="picto">
<div class="icon">
<div class="download"></div>
</div>
</div>
<h2>{% trans "Export and import" %}</h2>
<p>{% trans "Translations can be downloaded for offline translation and merged back." %}</p>
</div>

{% endblock %}
