{% extends "base.html" %}
{% load url from future %}
{% load i18n %}
{% block title %}{% trans "Weblate features" %}{% endblock %}
{% block header %}{% trans "Weblate features" %}{% endblock %}
{% block headline %}{% trans "Weblate is a feature rich computer aided translation tool." %}{% endblock %}
{% block content %}

{% include "base-features.html" %}

<div class="feature">
<div class="picto">
<div class="icon">
<div class="lock"></div>
</div>
</div>
<h2>Access control</h2>
<p>Access rights can can be fine tuned depending on your environment.</p>
</div>

<div class="feature">
<div class="picto">
<div class="icon">
<div class="mail"></div>
</div>
</div>
<h2>Notifications</h2>
<p>Translators can be notified on new strings to translate or other events.</p>
</div>

<div class="feature">
<div class="picto">
<div class="icon">
<div class="cloud"></div>
</div>
</div>
<h2>Ready for cloud</h2>
<p>Weblate comes with appliance, which is ready to deploy in your cloud.</p>
</div>


{% endblock %}
