{% extends "base.html" %}
{% load url from future %}
{% load i18n %}
{% block content %}
<p id="headline">
Weblate is a free web based translation management system with a tight Git integration.
</p>


<a href="" class="trailer">
<img src="/media/background.png">
</a>

<div class="actions">
<a href="">Try our demo</a>

<a href="">Downloads</a>
</div>

<div class="feature">
<div class="picto">
<div class="icon">
<div class="wheels"></div>
</div>
</div>
<h2>Continuous translation</h2>
<p>Automated translation process can closely follow development of your project.</p>
</div>

<div class="feature">
<div class="picto">
<div class="icon">
<div class="mglass"></div>
</div>
</div>
<h2>Quality checks</h2>
<p>Customizable quality checks will help you in improving quality of translations.</p>
</div>

<div class="feature">
<div class="picto">
<div class="icon">
<div class="profil"></div>
</div>
</div>
<h2>Attribution</h2>
<p>All your translators will be properly credited in the version control system.</p>
</div>

<div class="more"><a href="{% url 'features' %}">See more features…</a></div>
{% endblock %}
