{% extends "base.html" %}
{% block content %}
<p id="headline">
Weblate is a free web based translation management system with a tight Git integration.
</p>

<div class="feature">
<div class="picto">
<div class="icon">
<div class="wheels"></div>
</div>
</div>
<h2>Continuous translation</h2>
<p>Automated translation process can closely follow development of your project.</p>
</div>

<div class="feature">
<div class="picto">
<div class="icon">
<div class="mglass"></div>
</div>
</div>
<h2>Quality checks</h2>
<p>Customizable quality checks will help you in improving quality of translations.</p>
</div>

<div class="feature">
<div class="picto">
<div class="icon">
<div class="profil"></div>
</div>
</div>
<h2>Attribution</h2>
<p>All your translators will be properly credited in the version control system.</p>
</div>

<div class="more"><a href="">See more features…</a></div>

<p>List of features includes:</p>

<ul>
<li>Easy web based translation</li>
<li>Propagation of translations across sub-projects (for different branches)</li>
<li>Tight git integration - every change is represented by Git commit</li>
<li>Usage of Django's admin interface</li>
<li>Upload and automatic merging of translation files</li>
<li>Links to source files for context</li>
<li>Allows to use machine translation services</li>
<li>Message quality checks</li>
<li>Tunable access control</li>
<li>Wide range of supported <a href="http://weblate.readthedocs.org/en/latest/formats.html">translation formats</a> (Gettext, Qt, Java, Windows, Symbian and more)</li>
</ul>

<p>
If you are using Git as version control system, Weblate is the right CAT (computer-assisted translation) tool for you.
</p>
{% endblock %}
