{% extends "base.html" %}
{% load url from future %}
{% load i18n %}
{% block headline %}
{% trans "Weblate is a free web based translation management system." %}
{% endblock %}

{% block content %}

<div class="actions">
<a href="http://demo.weblate.org/">{% trans "Try our demo" %}</a>

<a href="{% url 'download' %}">{% trans "Downloads" %}</a>
</div>

<a href="{% url 'tour' %}" class="trailer">
<img src="/media/background.png" alt="{% trans "Weblate screenshot" %}">
</a>

{% include "base-features.html" %}

<div class="more"><a href="{% url 'features' %}">{% trans "See more features…"%}</a></div>
{% endblock %}
