{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Weblate support" %}{% endblock %}
{% block header %}{% trans "Weblate support" %}{% endblock %}
{% block description %}
{% block headline %}{% trans "Weblate is a free software with community support." %}{% endblock %}
{% endblock %}

{% block extrajumbo %}
<p>
<a class="btn btn-primary btn-lg" href="https://github.com/WeblateOrg/weblate/issues" role="button"><i class="fa fa-bug"></i> {% trans "Report issue" %}</a>
</p>
{% endblock %}
{% block content %}

<h2>{% trans "Bugs or feature requests" %}</h2>

<p>
{% blocktrans %}Have you found any issue with Weblate? Do you have idea how to improve it? Please report it to <a href="https://github.com/WeblateOrg/weblate/issues">issue tracker on GitHub</a>.{% endblocktrans %}
</p>

<h2>{% trans "Security issues" %}</h2>

<p>
{% blocktrans with '<a href="mailto:michal@cihar.com">Michal Čihař</a>' as contact and '<code>9C27B31342B7511D</code>' as key %}Should you find security issue within our code base, please report it to {{ contact }}. You can choose to encrypt it using his PGP key {{ key }}.{% endblocktrans %}
</p>

<h2>{% trans "Mailing list" %}</h2>

<p>
{% blocktrans %}There is a mailing list <a href="mailto:weblate@lists.cihar.com">weblate@lists.cihar.com</a> where you can discuss various things about Weblate. You can <a href="https://lists.cihar.com/cgi-bin/mailman/listinfo/weblate">subscribe</a> or <a href="https://lists.cihar.com/pipermail/weblate/">browse archives</a>.{% endblocktrans %}
</p>

<p>
{% blocktrans %}The mailing list is also available on <a href="https://dir.gmane.org/gmane.comp.web.weblate">Gmane</a> where you can browse archives or use NNTP interface.{% endblocktrans %}
</p>

<h2>{% trans "Stack Overflow" %}</h2>

<p>{% blocktrans with "https://stackoverflow.com/tags/weblate/info" as url %}You can also ask related questions on <a href="{{ url }}">Stack Overflow</a>.{% endblocktrans %}</p>

<h2>{% trans "IRC" %}</h2>

<p>
{% blocktrans %}When some of interested people are online, you might also find help on #weblate channel on <a href="https://freenode.net/">freenode</a> network. You can also use <a href="https://webchat.freenode.net?channels=weblate">webchat</a> there.{% endblocktrans %}
</p>

<h2>{% trans "Consulting" %}</h2>

<p><a href="{% url 'hosting' %}#self" class="btn btn-primary btn-lg">{% trans "See our support offerings for self hosted Weblate instances" %}</a></p>

<p>
{% blocktrans with 'mailto:michal@cihar.com?subject=Weblate' as contact_link %}You can also contact <a href="{{ contact_link }}">Michal Čihař</a>, who is author of Weblate for consulting services.{% endblocktrans %}
</p>

{% endblock %}
