{% extends "base.html" %}
{% load url from future %}
{% load i18n %}
{% block title %}{% trans "Weblate screenshot tour" %}{% endblock %}
{% block header %}{% trans "Weblate screenshot tour" %}{% endblock %}
{% block headline %}{% trans "Weblate can help you with lot of things." %}{% endblock %}
{% block content %}


{% for screenshot in screenshots %}
<a href="/media/screenshots/{{ screenshot.0 }}" class="screenshot">
<img src="/media/thumbnails/{{ screenshot.0 }}" title="{{ screenshot.1 }}">
{{ screenshot.2 }}
</a>
{% endfor %}

{% endblock %}
