{% extends "base.html" %}
{% load url from future %}
{% load i18n %}
{% block title %}{% trans "Try Weblate" %}{% endblock %}
{% block header %}{% trans "Try Weblate" %}{% endblock %}
{% block description %}
{% block headline %}{% trans "Weblate is easy to deploy as an appliance." %}{% endblock %}
{% endblock %}
{% block content %}

<h2>{% trans "Demo server" %}</h2>

<p>
{% blocktrans %}You can try how Weblate on our <a href="http://demo.weblate.org">demo server</a>. You can register there and work under your username or just use <code>demo</code> account with <code>demo</code> password.{% endblocktrans %}
</p>

<h2>{% trans "Appliances" %}</h2>

<p>
{% blocktrans %}Check our <a href="{{ download_url }}">download page</a> for appliances, which provide easy way to deploy Weblate in cloud.{% endblocktrans %}
</p>

{% endblock %}

