.logo {
    width: 1em;
    height: 1em;
}
.navbar-brand > img {
    display: inline-block;
}
.navbar {
    margin-bottom: 0;
}
footer ul {
    padding:0;
    margin:1em;
    max-width:none;
    clear:both;
}
footer li {
    font-size:small;
    list-style:none;
    float:left;
    padding:1em;
    color:gray;
    border:none;
}
.dir-rtl footer li {
    float: right;
}
.feature {
    text-align: center;
    padding: 40px;
    min-height: 18em;
}
.screenshot {
    display: inline-block;
    width: 300px;
    margin: 10px;
    text-align: center;
}
.table .price {
    text-align: center;
    vertical-align: middle;
}
.userlogos {
    text-align: center;
}
.userlogo {
    vertical-align: middle;
    padding: 20px;
}

pre {
    direction: ltr;
}

.tos {
    counter-reset: tos_chapter;
}

.tos h2:before {
    counter-increment: tos_chapter;
    content: counter(tos_chapter) ". ";
}

.tos h2 {
    counter-reset: tos_paragraph;
}

.tos  p.item:before {
    counter-increment: tos_paragraph;
    content: counter(tos_chapter) "." counter(tos_paragraph) ". ";
}
.invalid-feedback {
    display: block;
}
