.logo {
    width: 1em;
    height: 1em;
}
.navbar-brand > img {
    display: inline-block;
}
.navbar {
    margin-bottom: 0;
}
footer ul {
    padding:0;
    margin:1em;
    max-width:none;
    clear:both;
}
footer li{
    font-size:small;
    list-style:none;
    float:left;
    padding:1em;
    color:gray;
    border:none;
}
.dir-rtl footer > li {
    float: right;
}
.feature {
    text-align: center;
    padding: 40px;
}
.screenshot {
    display: inline-block;
    width: 300px;
    margin: 10px;
    text-align: center;
}
