html {
    font-family: sans-serif;
    background: #fff;
    color: #000;
}
a {
    color: #004276;
    text-decoration: none;
}
a:hover {
    color: #cc0000;
}

.logo {
    position: absolute;
    top: 10px;
    left: 10px;
}
.error {
    height: 12em;
    font-weight: bolder;
    padding: 1em;
}
.content {
    margin-left: 150px;
    max-width: 42em;
    padding: 1em;
}
.headline {
    font-size: 1.2em;
    padding: .5em;
    border: 1px solid #ccc;
    background: #ffe;
    border-radius: .5em;
    text-align: center;
}
.description {
    margin: 0 0 2em 0;
}
.language {
    float: right;
    border: 1px solid #004276;
    padding: .3em;
    border-radius: .3em;
}
.language:hover {
    border-color: #c00;
}
.languages {
    border: 1px solid #004276;
    border-radius: .3em;
    padding: .3em;
    background: white;
    display: none;
    position: absolute;
    width: 25em;
}
.choice {
    -moz-column-count:2; /* Firefox */
    -ms-column-count:2; /* MSIE */
    -webkit-column-count:2; /* Safari and Chrome */
    column-count:2;
}
.languages a {
    display: block;
    padding: .2em;
    text-align: center;
}
.screenshot {
    display: inline-block;
    width: 300px;
    margin: 10px;
    text-align: center;
}
ul.footer {
    padding:0;
    margin:1em;
    max-width:none;
    clear:both;
}
ul.footer li {
    font-size:smaller;
    list-style:none;
    float:left;
    padding:1em;
    color:gray;
    border:none;
}
ul.footer a {
    color:#333;
}
header {
    max-width: 42em;
    margin-left: 150px;
    padding: 1em;
}
nav {
    position: absolute;
    top: 178px;
    left: 10px;
    min-width: 128px;
}
nav a {
    display: block;
    padding: .2em;
    text-align: center;
    font-weight: bolder;
}
.trailer img {
    max-width: 40em;
    border: 1em solid gray;
    border-radius: 1em;
    margin: 1em 0 1em 0;
}
.actions {
    margin: 0;
    padding: 0;
}
.actions a {
    background-color: #cc0000;
    font-weight: bold;
    width: 16em;
    margin: 0 2em 1em 2em;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    text-align: center;
    padding: .4em;
    border-radius: .4em;
}
.more {
    text-align: right;
    clear: both;
}
.more a {
    display: inline-block;
    width: 16em;
    margin: 0 2em 0 2em;
    background-color: #004276;
    font-weight: bold;
    color: #fff;
    padding: .4em;
    border-radius: .4em;
    text-decoration: none;
    text-align: center;
}
.feature {
    display: block;
    width: 13em;
    height: 14em;
    text-align: center;
    float: left;
    padding: .5em;
}
h4 {
    font-size: 1em;
}
.clearer {
    clear: both;
}
button {
    border: 1px solid #004276;
    padding: .3em;
    border-radius: .3em;
    color: #004276;
    font-family: sans-serif;
    background: #fff;
    font-weight: bold;
}
button:hover {
    border-color: #cc0000;
    color: #cc0000;
}
