html {
    font-family: sans;
}
a {
    color: #004276;
    text-decoration: none;
}
a:hover {
    color: #cc0000;
}

#icon {
    position: absolute;
    top: 10px;
    left: 10px;
}
#content {
    margin-left: 150px;
    max-width: 42em;
    padding: 1em;
}
#headline {
    font-size: 1.2em;
    padding: .5em;
    border: 1px solid #ccc;
    background: #ffe;
    border-radius: .5em;
    text-align: center;
}
ul.footer{
    padding:0;
    margin:1em;
    max-width:none;
    clear:both;
}
ul.footer li{
    font-size:smaller;
    list-style:none;
    float:left;
    padding:1em;
    color:gray;
    border:none;
}
ul.footer a{
    color:#333;
}
header {
    max-width: 42em;
    margin-left: 150px;
    padding: 1em;
}
nav {
    position: absolute;
    top: 178px;
    left: 10px;
    min-width: 128px;
}
nav a {
    display: block;
    padding: .2em;
    text-align: center;
    font-weight: bolder;
}
.trailer img {
    max-width: 40em;
    border: 1em solid gray;
    border-radius: 1em;
    margin: 1em 0 1em 0;
}
.actions {
    margin: 0 0 1em 0;
    padding: 0;
}
.actions a {
    background-color: #cc0000;
    font-weight: bold;
    width: 16em;
    margin: 0 2em 0 2em;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    text-align: center;
    padding: .4em;
	border-radius: .4em;
}
.more {
    text-align: right;
    clear: both;
}
.more a {
    display: inline-block;
    width: 16em;
    margin: 0 2em 0 2em;
	background-color: #004276;
    font-weight: bold;
    color: #fff;
    padding: .4em;
	border-radius: .4em;
    text-decoration: none;
    text-align: center;
}
.feature {
    display: block;
    width: 13em;
    height: 13em;
    text-align: center;
    float: left;
    padding: .5em;
}
.feature h2 {
    font-size: 1em;
}
.clearer {
    clear: both;
}

.picto:before {
    content: "";
    display: inline-block;
    height: 100%;
    margin-right: -11px;
    vertical-align: middle;
}

.picto {
    height: 80px;
    opacity: 0.99;
    position: relative;
    text-align: center;
    width: 100px;
    display: inline-block;
}

.icon {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.wheels {
	display: block;
	position: relative;
  font-size: 20px;
	width: 1em;
	height: 1em;
	border: 0.1em dashed #004276;
	border-radius: 1em;
	margin-top: 1em;
    margin-left:-1.4em;

	-webkit-box-shadow: inset 0 0 0 0.2em #004276;
	box-shadow: inset 0 0 0 0.2em #004276;
}

.wheels:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0.5em;
	font-size: 0.8em;
	margin-top: -1.2em;
	width: 1em;
	height: 1em;
	border: 0.1em dashed #004276;
	border-radius: 1em;

	-webkit-box-shadow: inset 0 0 0 0.2em #004276;
	box-shadow: inset 0 0 0 0.2em #004276;
}

.wheels:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0.92em;
	font-size: 1.2em;
	margin-top: -0.32em;
	width: 1em;
	height: 1em;
	border: 0.1em dashed #004276;
	border-radius: 1em;

	-webkit-box-shadow: inset 0 0 0 0.2em #004276;
	box-shadow: inset 0 0 0 0.2em #004276;
}

.profil {
	font-size: 24px;
	top: 0.5em;
	border-radius: 0.7em 0.7em 0 0;
	background: #004276;
	width: 1.5em;
	height: 0.8em;
	position: relative;
}

.profil::before {
	position: absolute;
	content: "";
	top: -0.9em;
	left: 0.38em;
	width: 0.8em;
	height: 0.85em;
	border-radius: 50%;
	background: #004276;
}

.mglass {
	margin-top: 1.5em;
    margin-left: 1.5em;
    position: relative;
	width: 1.5em;
	height: 0.5em;
	background-color: #004276;

	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	border-bottom-right-radius: 0.3em;
	border-top-right-radius: 0.3em;
}

.mglass::before {
	border: 0.4em solid #004276;
	content: "";
	position: absolute;
	top: -0.84em;
	left: -1.7em;
	display: block;
	width: 1.3em;
	height: 1.3em;
	border-radius: 50%;
}

.lock {
    margin-top: 0.8em;
    border-radius: 0.3em;
    box-shadow: inset 0.9em 0.8em 0 0 #004276,inset -0.9em 0.8em 0 0 #004276,inset 0em -0.4em 0 0 #004276;
    font-size: 18px;
    width: 2em;
    height: 1.8em;
    position: relative;

}

.lock::before {
    left: 0.32em;
    border-radius: 1em 1em 0 0;
    top: -0.8em;
    position: absolute;
    width: 0.8em;
    content: "";
    height: 1.8em;
    border: 0.3em solid #004276;
    border-bottom: none;

}

.mail{
	font-size:12px;
	display:block;
	position:relative;
	border-top:1em solid transparent;
	border-left:1.5em solid #004276;
	border-right:1.5em solid #004276;
	border-bottom:1em solid #004276;
height:0;
width:0;
}
.mail:before{
    content: '';
    top: -1.23em;
    left: -1.5em;
    display: block;
    position: absolute;
    border-top: 1em solid #004276;
    border-left: 1.5em solid transparent;
    border-right: 1.5em solid transparent;
    border-bottom: 1em solid transparent;
    font-size: 0.8em;
}

.cloud {
	background-color: #004276;

	background-image: -webkit-linear-gradient(hsla(0,0%,0%,0), hsla(0,0%,0%,.1));
	background-image: -moz-linear-gradient(hsla(0,0%,0%,0), hsla(0,0%,0%,.1));
	background-image: -o-linear-gradient(hsla(0,0%,0%,0), hsla(0,0%,0%,.1));
	background-image: -ms-linear-gradient(hsla(0,0%,0%,0), hsla(0,0%,0%,.1));
	background-image: linear-gradient(hsla(0,0%,0%,0), hsla(0,0%,0%,.1));
	border-radius: 1em;
	height: 1em;
       margin-top: 0.5em;
	position: relative;
	width: 3em;
}

.cloud:after,.cloud:before {
	background-color: #004276;
	content: '';
	border-radius: 100%;
	position: absolute;
}

.cloud:after {
	background-image: -webkit-linear-gradient(hsla(0,0%,0%,0) 50%, hsla(0,0%,0%,.025));
	background-image: -moz-linear-gradient(hsla(0,0%,0%,0) 50%, hsla(0,0%,0%,.025));
	background-image: -o-linear-gradient(hsla(0,0%,0%,0) 50%, hsla(0,0%,0%,.025));
	background-image: -ms-linear-gradient(hsla(0,0%,0%,0) 50%, hsla(0,0%,0%,.025));
	background-image: linear-gradient(hsla(0,0%,0%,0) 50%, hsla(0,0%,0%,.025));
	height: 1em;
	right: .4em;
	top: -.5em;
	width: 1em;
}

.cloud:before {
	background-image: -webkit-linear-gradient(hsla(0,0%,0%,0) 50%, hsla(0,0%,0%,.075));
	background-image: -moz-linear-gradient(hsla(0,0%,0%,0) 50%, hsla(0,0%,0%,.075));
	background-image: -o-linear-gradient(hsla(0,0%,0%,0) 50%, hsla(0,0%,0%,.075));
	background-image: -ms-linear-gradient(hsla(0,0%,0%,0) 50%, hsla(0,0%,0%,.075));
	background-image: linear-gradient(hsla(0,0%,0%,0) 50%, hsla(0,0%,0%,.075));
	height: 1.6em;
	left: .4em;
	top: -.75em;
	width: 1.6em;
}

.cube {
	position: relative;
	font-size: 9px;
	height: 1.10em;
	width: 2em;
	background: #004276;

	-webkit-transform: rotate(-16.66deg) skew(57deg);
	-moz-transform: rotate(-16.66deg) skew(57deg);
	-o-transform: rotate(-16.66deg) skew(57deg);
	-ms-transform: rotate(-16.66deg) skew(57deg);
	transform: rotate(-16.66deg) skew(57deg);
	display: block;
	margin-top: -1.6em;
}

.cube::before {
	left: -2.5em;
	top: -0.22em;
	position: absolute;
	display: block;
	content: "";
	height: 3.6em;
	width: 1.1em;
	background: #004276;

	-webkit-transform: rotate(90.6deg) skew(29.2deg);
	-moz-transform: rotate(90.6deg) skew(29.2deg);
	-o-transform: rotate(90.6deg) skew(29.2deg);
	-ms-transform: rotate(90.6deg) skew(29.2deg);
	transform: rotate(90.6deg) skew(29.2deg);
}

.cube::after {
	left: -3em;
	top: 1.7em;
	position: absolute;
	display: block;
	content: "";
	height: 0.95em;
	width: 4.1em;
	background: #004276;

	-webkit-transform: rotate(151.4deg) skew(61.2deg);
	-moz-transform: rotate(151.4deg) skew(61.2deg);
	-o-transform: rotate(151.4deg) skew(61.2deg);
	-ms-transform: rotate(151.4deg) skew(61.2deg);
	transform: rotate(151.4deg) skew(61.2deg);
}

.link {
	font-size: 14px;
  margin-left:-1.1em;
  margin-top:1.3em;
	width: 0.5em;
	height: 1em;
	border: 0.250em solid #004276;
	border-bottom-left-radius: 1em 1em;
	border-bottom-right-radius: 1em 1em;
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
	bottom: 0.188em;
	border-top: solid 0em transparent;
	position: relative;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.link:before {
	content: '';
	display: block;
	width: 0.5em;
	top: -1.4em;
	left: -0.23em;
	height: 1em;
	border: 0.250em solid #004276;
	border-bottom-left-radius: 1em 1em;
	border-bottom-right-radius: 1em 1em;
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
	bottom: 0.188em;
	border-top: solid 0em transparent;
	position: absolute;

	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

.link:after {
	content: '';
	position: absolute;
	display: block;
	width: 0.2em;
	top: -0.6em;
	left: 0.13em;
	height: 1em;
	border-radius: 1em;
	background: #004276;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

.heal {
	width:2em;
	height:1.5em;
	border-radius:0.2em;
	position:relative;
	border: 0.2em solid #004276;
	
}

.heal::before {
	position: absolute;
	content: "";
	top: -0.4em;
	right: 0.4em;
	width: 0.4em;
	height: 0em;
	border-bottom: 0.4em solid #004276;
	border-left: 0.4em solid transparent;
	border-right: 0.4em solid transparent;
}

.heal::after {
box-shadow: 0.3em 0 0 #004276,-0.3em 0 0 #004276,0 0.3em  0 #004276,0 -0.3em  0 #004276;
left: 0.85em;
top: 0.6em;
position: absolute;
background: #004276;
height: 0.3em;
width: 0.3em;
content: "";
}
