{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Donate to Weblate" %}{% endblock %}
{% block header %}{% trans "Donate to Weblate" %}{% endblock %}
{% block description %}
{% block headline %}{% trans "Weblate is provided free of charge, and welcomes donations." %}{% endblock %}
{% endblock %}
{% block content %}

{% if show_form %}
<div class="alert alert-info" role="alert">
  {% trans "Please choose wanted reward or enter custom donation amount." %}
</div>
{% endif %}

  <div class="card-deck mb-3 text-center">
{% for reward in rewards %}
        <div class="card mb-4 shadow-sm">
          <h5 class="card-header">
            {{ reward.get_display_name }}
          </h5>
          <div class="card-body">
            <table>
            <tr><th>{% trans "Donation recurrence" %}</th><td>{{ reward.get_recurring_display }}</td></tr>
            <tr><th>{% trans "Amount in EUR" %}</th><td>{{ reward.amount }} EUR</td></tr>
            </table>
          </div>
          <div class="card-footer">
            <form method="post">
            {% csrf_token %}
            <input type="hidden" name="reward" value="{{ reward.pk }}">
            <input type="submit" class="btn btn-info btn-block" value="{% trans "Select" %}">
            </form>
          </div>
        </div>
{% endfor %}
  </div>

<div class="alert alert-info" role="alert">
  {% trans "We might refuse to place your link, especially if the site contains adult or illegal content. Please consult us in advance if unsure." %}
</div>

{% if show_form %}
<form method="post">
  <div class="card-deck mb-3">
{% csrf_token %}
<div class="card mb-4 shadow-sm">
  <h5 class="card-header">
    {% trans "Choose your own donation amount" %}
  </h5>
  <div class="card-body">
    {{ form|crispy }}
  </div>
  <div class="card-footer">
    <input type="submit" value="{% trans "Continue" %}" class="btn btn-success">
  </div>
</div>
  </div>
</form>
{% endif %}

{% endblock %}
