Source: com.github.cassidyjames.palette
Section: x11
Maintainer: Cassidy James Blaede <c@ssidyjam.es>
Build-Depends: debhelper (>= 9), libgee-0.8-dev, libgtk-3-dev, meson, valac
Standards-Version: 3.9.6
Homepage: https://github.com/cassidyjames/palette

Package: com.github.cassidyjames.palette
Architecture: any
Priority: extra
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: View and copy colors from the elementary brand palette
 Access the elementary color palette on your local device
