Source: com.github.cassidyjames.palette
Section: x11
Priority: extra
Maintainer: Cassidy James Blaede <c@ssidyjam.es>
Build-Depends: debhelper (>= 9),
               libgee-0.8-dev,
               libgtk-3-dev,
               meson,
               valac
Standards-Version: 3.9.3

Package: com.github.cassidyjames.palette
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: View and copy colors from the elementary brand palette
 elementary uses a set of bright and friendly colors. Easily access the entire palette on your local device, plus copy any variation of each color to paste into your own projects.
