.strawberry {
  background-color: @STRAWBERRY_500;
}

.orange {
  background-color: @ORANGE_500;
}

.banana {
  background-color: @BANANA_500;
}

.lime {
  background-color: @LIME_500;
}

.blueberry {
  background-color: @BLUEBERRY_500;
}

.grape {
  background-color: @GRAPE_500;
}

.cocoa {
  background-color: @COCOA_500;
}

.silver {
  background-color: @SILVER_500;
}

.slate {
  background-color: @SLATE_500;
}

.black {
  background-color: @BLACK_500;
}
