{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "Weblate payment" %}{% endblock %}
{% block jumbotron %}{% endblock %}

{% block content %}

<div class="card m-4">
  <h5 class="card-header">
    {% trans "Please choose your payment method" %}
  </h5>
    <table class="table">
    <tr><th>{% trans "Payment amount" %}</th><td>
    {% blocktrans with object.vat_amount as price %}{{ price }} EUR{% endblocktrans %}
    {% if object.customer.needs_vat %}{% trans "(including VAT)" %}{% endif %}
    </td><tr>
    <tr><th>{% trans "Payment description" %}</th><td>{{ object.description }}</td></tr>
    {% if object.recurring %}
    <tr><th>{% trans "Payment recurrence" %}</th><td>
    {% if object.recurring == "y" %}
    {% trans "Payment will repeat every year until you cancel the subscription." %}
    {% elif object.recurring == "m" %}
    {% trans "Payment will repeat every month until you cancel the subscription." %}
    {% else %}
    {{ object.recurring }}
    {% endif %}
    <br>
    <span class="text-muted">{% trans "Note: This is not available for some payment methods, you will have to manually complete next payment in that case." %}</span>
    </td></tr>
    <tr>
    <th>{% trans "Billing information" %}</th>
    <td>
    <a href="{% url "payment-customer" pk=object.pk %}" class="btn btn-success float-right"><i class="fas fa-edit"></i> {% trans "Edit" %}</a>
    {{ object.customer.name }}<br>
    {{ object.customer.address }}<br>
    {{ object.customer.city }}<br>
    {{ object.customer.country.name }}<br>
    {{ object.customer.tax }}<br>
    {{ object.customer.vat }}
    </td>
    </tr>
    {% endif %}
    </table>
  {% if can_pay %}
  <div class="card-footer text-muted">
    <form method="POST">
      {% csrf_token %}
      {% for backend in backends %}
      <button class="btn btn-link" type="submit" name="method" value="{{ backend.name }}"><img src="/media/payment/{{ backend.name }}.png"><br>{{ backend.verbose }}</button>
      {% endfor %}
    </form>
  </div>
  {% endif %}
</div>

{% endblock %}
