{% load i18n %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}">
<head>
  <meta charset="utf-8">
  <meta name="author" content="Michal Čihař" />
  <meta name="dcterms.rightsHolder" content="Michal Čihař">
  <meta name="dcterms.dateCopyrighted" content="2012 - 2018">
  <meta name="robots" content="index, follow" />
  <meta name="description" content="{% block description %}{% endblock %}" />
  <meta name="keywords" content="weblate,git,gettext,resources,json,po,mo,qts,CAT,web,crowdsourcing,{% trans "translate" context "Keyword" %}" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" href="/media/colorbox.css">
  <link rel="author" href="mailto:michal@cihar.com" />
  <link rel="shortcut icon" href="/media/favicon.ico" type="image/x-icon" />
  <link rel="icon" href="/media/favicon.ico" type="image/x-icon" />
  <link rel="image_src" type="image/png" href="/media/weblate-128.png" />
  <link rel="apple-touch-icon" href="/media/weblate-128.png" />
  <meta property="og:image" content="https://weblate.org/media/background.png" />
  <title>{% block title %}Weblate{% endblock %}</title>
  <link rel="alternate" type="application/rss+xml" href="https://blog.cihar.com/archives/weblate/index-atom.xml" title="Weblate blog (Atom 1.0)"/>
  <link rel="alternate" type="application/rss+xml" href="https://blog.cihar.com/archives/weblate/index-rss.xml" title="Weblate blog (RSS 2.0)"/>
  <link rel="alternate" type="application/rss+xml" href="https://blog.cihar.com/archives/weblate/index.xml" title="Weblate blog (RSS 1.0)"/>
  <link rel="canonical" href="{{ canonical_url }}" />
  {% for lang in language_urls %}
    {% if lang.code != LANGUAGE_CODE %}<link rel="alternate" hreflang="{{ lang.code }}" href="{{ lang.url }}" />{% endif %}
  {% endfor %}
   <script src="/media/jquery-3.3.1.min.js"></script>

   <link rel="stylesheet" href="/media/bootstrap-4.1.3.min.css">
   <script src="/media/bootstrap-4.1.3.bundle.min.js"></script>
   <link rel="stylesheet" type="text/css" href="/media/custom.css">
   <script src="/media/fontawesome-free-5.4.1.js"></script>

   <script src="/media/jquery.colorbox-min.js"></script>
   <script src="/media/code.js"></script>
   <meta name="google-site-verification" content="SSd77ql2j6xSOlvDHT2pO2r3ZMQQyMVTycyse-l9i6A" />
   <meta name="wot-verification" content="b166aac1728babda4ade" />
</head>
 <body {% if LANGUAGE_BIDI %}class="dir-rtl"{% endif %}>
<nav class="navbar navbar-default navbar-expand-md navbar-static-top navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'home' %}">
  <img class="logo" src="/media/weblate-128.png" alt="{% trans "Weblate logo" %}" />
  Weblate
  </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>     
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" href="{% url 'try' %}">{% trans "Try" %}</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'features'%}">{% trans "Features" %}</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'download' %}">{% trans "Download" %}</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'hosting' %}">{% trans "Pricing" %}</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'contribute' %}">{% trans "Develop" %}</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'donate' %}">{% trans "Donate" %}</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'support' %}">{% trans "Support" %}</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'tour' %}">{% trans "Tour" %}</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'thanks' %}">{% trans "Thanks" %}</a></li>
        <li class="nav-item"><a class="nav-link" href="https://blog.cihar.com/archives/weblate/">{% trans "Blog" %}</a></li>
        <li class="nav-item"><a class="nav-link" href="https://docs.weblate.org/">{% trans "Docs" %}</a></li>
        <li class="nav-item"><a class="nav-link" href="https://hosted.weblate.org/">{% trans "Hosting" %}</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown"><a href="#" class="nav-link dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="fas fa-language"></span>
        {% for lang in LANGUAGES %}{% if lang.0 == LANGUAGE_CODE %}{{ lang.1 }}{% endif %}{% endfor %}
        </a>
        <div class="dropdown-menu{% if not LANGUAGE_BIDI %} dropdown-menu-right{% endif %}" aria-labelledby="dropdownMenuLink">
          {% for lang in language_urls %}
          <a class="dropdown-item" href="{{ lang.url }}">{{ lang.name }}</a>
          {% endfor %}
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'contribute' %}#translate">{% trans "Help with translations!" %}</a>
        </div>
        </li>
      </ul>
  </div>
</nav>
<header>

{% block jumbotron %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>
    {% block header %}
    Weblate
    {% endblock %}
    </h1>
    <p class="headline">
    {% block headline %}
    {% endblock %}
    </p>
    {% block extrajumbo %}
    {% endblock %}
  </div>
</div>
{% endblock %}
</header>
<div class="container">

{% for message in messages %}
<div class="m-4 alert alert-{% if "error" in message.tags %}danger{% else %}{{ message.tags }}{% endif %}" role="alert">
  {{ message }}
</div>
{% endfor %}

{% block content %}
{% endblock %}
</div>

{% block bottom %}
{% endblock %}

<footer>
<ul class="footer">
<li>Copyright &copy; 2012 - 2018 <a href="https://cihar.com/">Michal Čihař</a></li>
<li><a href="{% url 'terms' %}">{% trans "Terms of Service and Privacy Policy" %}</a></li>
<li><a href="https://twitter.com/WeblateOrg" title="Twitter"><i class="fab fa-twitter"></i></a></li>
<li><a href="https://www.facebook.com/WeblateOrg" title="Facebook"><i class="fab fa-facebook"></i></a></li>
<li><a href="https://github.com/WeblateOrg/weblate" title="GitHub"><i class="fab fa-github"></i></a></li>
{% block extrafooter %}{% endblock %}
</ul>
</footer>
<!-- Piwik Image Tracker -->
<noscript><img src="https://stats.cihar.com/piwik.php?idsite=12&amp;rec=1" style="border:0" alt="" /></noscript>
<!-- End Piwik -->
<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://stats.cihar.com/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 12]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
    g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="https://stats.cihar.com/piwik.php?idsite=12" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->

</body>
</html>
