{% load i18n %}

<div class="col-lg-4 col-sm-6 feature">
<a href="https://docs.weblate.org/en/latest/faq.html#how-to-create-automatic-worflow">
<div class="fas fa-cogs fa-4x"></div>
<h4>{% trans "Continuous translation" %}</h4>
<p>{% trans "Automated translation process can closely follow development of your project." %}</p>
</a>
</div>

<div class="col-lg-4 col-sm-6 feature">
<a href="https://docs.weblate.org/en/latest/user/checks.html">
<div class="fas fa-search fa-4x"></div>
<h4>{% trans "Quality checks" %}</h4>
<p>{% trans "Customizable quality checks will help you in improving quality of translations." %}</p>
</a>
</div>

<div class="col-lg-4 col-sm-6 feature">
<a href="https://docs.weblate.org/en/latest/faq.html#how-does-weblate-credit-translators">
<div class="fas fa-user fa-4x"></div>
<h4>{% trans "Attribution" %}</h4>
<p>{% trans "All your translators will be properly credited in the version control system." %}</p>
</a>
</div>

<div class="col-lg-4 col-sm-6 feature">
<a href="{% url 'hosting' %}">
<div class="fas fa-server fa-4x"></div>
<h4>{% trans "Hosting plans" %}</h4>
<p>{% trans "Hosting plans to use Weblate as a service starting at 19 EUR." %}</p>
</a>
</div>

<div class="col-lg-4 col-sm-6 feature">
<a href="{% url 'download' %}">
<div class="fas fa-cloud fa-4x"></div>
<h4>{% trans "Ready for cloud" %}</h4>
<p>{% trans "Weblate comes with appliances, which are ready to deploy in your cloud." %}</p>
</a>
</div>

<div class="col-lg-4 col-sm-6 feature">
<a href="https://github.com/WeblateOrg/weblate">
<div class="fab fa-github fa-4x"></div>
<h4>{% trans "Free software" %}</h4>
<p>{% trans "Weblate is free software, you can run your own instance of it." %}</p>
</a>
</div>

