{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Donate to Weblate" %}{% endblock %}
{% block header %}{% trans "Donate to Weblate" %}{% endblock %}
{% block description %}
{% block headline %}{% trans "Weblate is provided free of charge, and welcomes donations." %}{% endblock %}
{% endblock %}
{% block extrajumbo %}
<p>

<a class="btn btn-info btn-lg" href="{% url 'hosting' %}" role="button"><i class="fas fa-server"></i> {% trans "Purchase hosting package" %}</a>
<a class="btn btn-info btn-lg" href="{% url 'support' %}"><i class="fas fa-life-ring"></i> {% trans "Get support for Weblate" %}</a>

</p>
{% endblock %}
{% block content %}

{% if not user.is_authenticated %}
<a class="btn btn-info float-right" href="{% url 'simple-sso-login' %}"><i class="fas fa-sign-in-alt"></i> {% trans "Log in to manage your donations" %}</a>
{% else %}
{% with donations=user.donation_set.all %}
{% if donations %}
<h2>{% trans "Your donations" %}</h2>

<table class="table">
{% for donation in donations %}
<tr>
<td>{{ donation.created }}</td>
<td>{{ donation.expires }}</td>
<td>
{% for payment in donation.list_payments %}
{{ payment }}
{% endfor %}
</td>
</tr>
{% endfor %}
</table>
{% endif %}
{% endwith %}
{% endif %}

<h2>{% trans "Donations" %}</h2>

<p>
{% blocktrans %}Recurring donations allow sustainability of Weblate development and help to fund free hosting for libre software. You don't have to spend big money, every penny counts.{% endblocktrans %}
</p>

    <div class="container">
      <div class="card-deck mb-3 text-center">

        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">{% trans "Recurring donation" %}</h4>
          </div>
          <div class="card-body">
            <p>{% trans "Repeated appreciation of the Weblate project helps in keeping the project sustainable in the long term." %}</p>
            <p>{% trans "Please consider this if you are using Weblate on premise without support contract." %}</p>
          </div>
          <div class="card-footer">
            <a href="{% url "donate-new" %}?recurrence=m" class="btn btn-lg btn-block btn-info"><i class="fas fa-donate"></i> {% trans "Donate" %}</a>
          </div>
        </div>

        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">{% trans "One time donation" %}</h4>
          </div>
          <div class="card-body">
            <p>{% trans "One time donations are great for appreciating our work on single issue or support." %}</p>
          </div>
          <div class="card-footer">
            <a href="{% url "donate-new" %}?recurrence=" class="btn btn-lg btn-block btn-info"><i class="fas fa-donate"></i> {% trans "Donate" %}</a>
          </div>
        </div>

        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">{% trans "Use our services" %}</h4>
          </div>
          <div class="card-body">
            <p>{% trans "Commercial services like hosting or support for on premise installation help funding Weblate development." %}</p>
          </div>
          <div class="card-footer">
            <a class="btn btn-info btn-lg btn-block" href="{% url 'hosting' %}" role="button"><i class="fas fa-server"></i> {% trans "Purchase hosting package" %}</a>
            <a class="btn btn-info btn-lg btn-block" href="{% url 'support' %}"><i class="fas fa-life-ring"></i> {% trans "Get support for Weblate" %}</a>
          </div>
        </div>

      </div>
    </div>


<h2 id="crypto">{% trans "Cryptocurrencies" %}</h2>

<p>
{% blocktrans with "https://trezor.io?offer_id=12&amp;aff_id=1592" as url %}Thanks to <a href="{{ url }}">Trezor</a>, we will gladly accept donations in several cryptocurrencies. You can use the addresses in table below.{% endblocktrans %}
</p>

<table class="table table-bordered table-striped">
<thead class="thead-dark">
<tr><th>{% trans "Currency" %}</th><th>{% trans "Donation address" %}</th></tr>
</thead>
<tbody>
<tr><td><a href="bitcoin:36pK1Yso2ZYv5xLR36wgUzQ7AHDk7i6hwU">Bitcoin</a></td><td>36pK1Yso2ZYv5xLR36wgUzQ7AHDk7i6hwU</td></tr>
<tr><td><a href="litecoin:MTYACnktCc32n3GRhQDfdDyzqSDnQr2tzy">Litecoin</a></td><td>MTYACnktCc32n3GRhQDfdDyzqSDnQr2tzy</td></tr>
<tr><td><a href="dash:XoXrWTmZf7ar9P9tpXHm2JuvpvAwSbbgNh">DASH</a></td><td>XoXrWTmZf7ar9P9tpXHm2JuvpvAwSbbgNh</td></tr>
<tr><td><a href="zcash:t1PSe8FpKfnRJk6XTHkJKCwx4tseSxHr3Z5">Zcash</a></td><td>t1PSe8FpKfnRJk6XTHkJKCwx4tseSxHr3Z5</td></tr>
<tr><td><a href="ethereum:0xE5cd6Fe38af85f68B377AEBCF97Fea2C9683ee0c">Ethereum</a></td><td>0xE5cd6Fe38af85f68B377AEBCF97Fea2C9683ee0c</td></tr>
<tr><td><a href="monero:89A8YoXSErG6X3aTGf96tfCXTJv2kmUUQJucmS8WWuz8S1ftZGAiBKuW66qbV8KDqBSyK8eQBu76PUBi3QUmhY7VFpQ9gbi">Monero</a></td><td>89A8YoXSErG6X3aTGf96tfCXTJv2kmUUQJucmS8WWuz8S1ftZGAiBKuW66qbV8KDqBSyK8eQBu76PUBi3QUmhY7VFpQ9gbi</td></tr>
</tbody>
</table>

{% endblock %}
