{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Weblate support" %}{% endblock %}
{% block header %}{% trans "Weblate support" %}{% endblock %}
{% block description %}
{% block headline %}{% trans "Weblate is a free software with community support." %}{% endblock %}
{% endblock %}

{% block extrajumbo %}
<p>
<a class="btn btn-info btn-lg" href="https://github.com/WeblateOrg/weblate/issues" role="button"><i class="fas fa-bug"></i> {% trans "Report issue" %}</a>
</p>
{% endblock %}
{% block content %}

<h2>{% trans "Bugs or feature requests" %}</h2>

<p>
{% blocktrans %}Have you found any issue with Weblate? Do you have idea how to improve it? Please report it to <a href="https://github.com/WeblateOrg/weblate/issues">issue tracker on GitHub</a>.{% endblocktrans %}
</p>

<h2>{% trans "Security issues" %}</h2>

<p>
{% blocktrans with '<a href="https://hackerone.com/weblate">HackerOne</a>' as contact and 'https://docs.weblate.org/en/latest/contributing.html#security' as docs %}Should you find security issue within our code base, please report it to {{ contact }}. More information on reporting security issues can be found in <a href="{{ docs }}">our documentation</a>.{% endblocktrans %}
</p>

<h2 id="self">{% trans "Support for self hosted environments" %}</h2>

<p>{% blocktrans %}Worried of putting your translations into cloud? You can self host Weblate and we can still provide you premium support for your setup.{% endblocktrans %}</p>

<div class="table-responsive">
  <table class="table table-bordered table-striped">
    <tbody>
      <tr>
        <th>{% trans "Installation on your Linux server" %}</th>
        <td class="price">{% blocktrans with 300 as price %}{{ price }} EUR{% endblocktrans %}</td>
      </tr>
      <tr>
        <td colspan="2">
          <ul>
            <li>{% trans "One time installation of Weblate" %}</li>
            <li>{% trans "Installation using virtualenv, uwsgi and nginx" %}</li>
            <li>{% trans "Using PostgreSQL, MySQL or MariaDB as database backend" %}</li>
            <li>{% trans "Requires root access or close cooperation of your admins" %}</li>
            <li>{% trans "Configuration customization" %}</li>
            <li>{% trans "Does not include custom code development" %}</li>
          </ul>
        </td>
      </tr>
      <tr>
        <th>{% trans "Installation using Docker on your Linux server" %}</th>
        <td class="price">{% blocktrans with 200 as price %}{{ price }} EUR{% endblocktrans %}</td>
      </tr>
      <tr>
        <td colspan="2">
          <ul>
            <li>{% trans "One time installation of Weblate" %}</li>
            <li>{% trans "Installation using Docker" %}</li>
            <li>{% trans "Requires root access or close cooperation of your admins" %}</li>
            <li>{% trans "Configuration customization" %}</li>
            <li>{% trans "Does not include custom code development" %}</li>
          </ul>
        </td>
      </tr>
      <tr>
        <th>{% trans "Basic support for self hosted Weblate" %}</th>
        <td class="price">{% blocktrans with 500 as price %}{{ price }} EUR / year{% endblocktrans %}</td>
      </tr>
      <tr>
        <td colspan="2">
          <ul>
            <li>{% blocktrans %}Your Weblate will be upgraded to the latest version on every release.{% endblocktrans %}</li>
            <li>{% trans "We will fix issues that occur in your environment." %}</li>
            <li>{% trans "You will receive priority email support." %}</li>
          </ul>
        </td>
      </tr>
      <tr>
        <th>{% trans "Consulting services or custom development"  %}</th>
        <td class="price">{% blocktrans with 40 as price %}{{ price }} EUR / hour{% endblocktrans %}</td>
      </tr>
      <tr>
        <td colspan="2">
          <ul>
            <li>{% trans "Custom features development" %}</li>
            <li>{% trans "Integrating Weblate into your workflow" %}</li>
            <li>{% trans "Suggestions on the internationalization or localization process" %}</li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<p><a class="btn btn-info btn-lg" href="mailto:michal@cihar.com?subject=Weblate self hosting ">{% blocktrans%}Ask us for details about self hosted Weblate{% endblocktrans %}</a></p>


<h2>{% trans "Support for Hosted Weblate services" %}</h2>

<p>
{% blocktrans with '<a href="mailto:support@weblate.org">support@weblate.org</a>' as contact %}If you are using our hosting services, you can ask for support at {{ contact }}.{% endblocktrans %}
</p>

<h2>{% trans "Mailing lists" %}</h2>

<h3 id="list">{% trans "Users and developers mailing list" %}</h3>
<ul>
    <li>{% trans "You can use mailing lists for discussions with other Weblate users and developers." %}</li>
    <li>{% blocktrans %}You can post to it using <a href="mailto:weblate@lists.cihar.com">weblate@lists.cihar.com</a> address.{% endblocktrans %}</li>
    <li><a href="https://lists.cihar.com/pipermail/weblate/">{% trans "You can browse mailing list archives" %}</a></li>
<li><form class="form-inline" action="https://lists.cihar.com/cgi-bin/mailman/subscribe/weblate" method="POST">
    <div class="input-group">
      <input type="email" name="email" class="form-control" placeholder="{% trans "Enter your email" %}">
      <div class="input-group-append">
        <input type="submit" value="{% trans "Subscribe" %}" class="btn btn-outline-secondary">
      </div>
    </div>
</form>
</li>
</ul>

<h3 id="announce">{% trans "Hosted Weblate Announcements mailing list" %}</h3>
<ul>
    <li>{% trans "Low traffic mailing list with announcements about Hosted Weblate services." %}</li>
    <li>{% trans "This list is moderated, only chosen users can post announcements." %}</li>
    <li><a href="https://lists.cihar.com/pipermail/hosted-weblate-announce/">{% trans "You can browse mailing list archives" %}</a></li>
<li><form class="form-inline" action="https://lists.cihar.com/cgi-bin/mailman/subscribe/hosted-weblate-announce" method="POST">
    <div class="input-group">
      <input type="email" name="email" class="form-control" placeholder="{% trans "Enter your email" %}">
      <div class="input-group-append">
        <input type="submit" value="{% trans "Subscribe" %}" class="btn btn-outline-secondary">
      </div>
    </div>
</form>
</li>
</ul>

<h2>{% trans "Stack Overflow" %}</h2>

<p>{% blocktrans with "https://stackoverflow.com/tags/weblate/info" as url %}You can also ask related questions on <a href="{{ url }}">Stack Overflow</a>.{% endblocktrans %}</p>

{% include "vat.html" %}

{% endblock %}
