{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Thanks from Weblate" %}{% endblock %}
{% block header %}{% trans "Thanks from Weblate" %}{% endblock %}
{% block description %}
{% block headline %}{% trans "Weblate is thankful for help from others." %}{% endblock %}
{% endblock %}
{% block extrajumbo %}
<p>
<a href="https://salt.bountysource.com/teams/weblate" class="btn btn-info btn-lg">
<i class="fas fa-money-bill"></i>
{% trans "Fund on Bountysource" %}
</a>
</p>
{% endblock %}
{% block content %}

<div class="row">
<div class="col-md-6">
<h2>{% trans "Technology" %}</h2>

<p>{% trans "The development of Weblate is based on the following technologies:" %}</p>

<h3><a href="https://github.com/WeblateOrg/weblate"><img src="/media/github.png" alt="GitHub" /></a></h3>

<p>{% trans "GitHub provides hosting for our source code and issue tracker."%}</p>

<h3><a href="https://travis-ci.org/WeblateOrg/weblate"><img src="/media/travis-ci.png" alt="Travis CI" /></a></h3>

<p>{% trans "Travis CI is our continuous integration platform."%}</p>

<h3><a href="https://codecov.io/github/WeblateOrg/weblate"><img src="/media/codecov.png" alt="Codecov" /></a></h3>

<p>{% trans "Codecov helps us to monitor code coverage of our test suite."%}</p>

<h3><a href="https://saucelabs.com/u/nijel"><img src="/media/sauce-labs.png" alt="Sauce Labs" /></a></h3>

<p>{% trans "Sauce Labs is running our Selenium tests in real browsers."%}</p>

<h3><a href="https://hosted.weblate.org/"><img src="/media/weblate-button.png" alt="Weblate" /></a></h3>

<p>{% trans "Our translations are being done on Hosted Weblate." %}</p>
</div>

<div class="col-md-6">
<h2>{% trans "Supporters" %}</h2>

<p>{% trans "Free hosting for free software projects would be impossible without our sponsors." %}</a>

<p><a href="https://salt.bountysource.com/teams/weblate">{% trans "Support our project on Bountysource Salt and get exclusive logo placement on this page." %}</a></p>

<p><a href="https://hostingfacts.com/"><img src="/media/hostingfacts.png" alt="Hosting Facts" /></a></p>

<p><a href="https://www.7binaryoptions.com/robot/">7BO: Binary Option Robot</a></p>

<p><a href="https://www.scams.info/">scams.info</a></p>

</div>

</div>
{% endblock %}
