{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Weblate tour" %}{% endblock %}
{% block header %}{% trans "Weblate tour" %}{% endblock %}
{% block description %}
{% block headline %}{% trans "Weblate has useful features for every crowdsourced translation." %}{% endblock %}
{% endblock %}

{% block extrajumbo %}
<p>
<a class="btn btn-info btn-lg" href="https://demo.weblate.org/" role="button"><i class="fas fa-search"></i> {% trans "Try our demo" %}</a>
</p>
{% endblock %}

{% block content %}

{% for screenshot in screenshots %}
<a href="/media/screenshots/{{ screenshot.0 }}" class="screenshot" title="{{ screenshot.1 }}">
<img src="/media/thumbnails/{{ screenshot.0 }}">
{{ screenshot.2 }}
</a>
{% endfor %}

{% endblock %}
